@charset "utf-8";
/*
     Noto Sans KR (korean) https://fonts.google.com/selection
*/
 
     @font-face {
          font-family: "Noto Sans KR";
          font-style: normal;
          font-weight: 100;
          src: url('../content/font/NotoSansKr/NotoSansKR-Thin.woff');
          src: url('../content/font/NotoSansKr/NotoSansKR-Thin.woff2') format('woff2'),
               url('../content/font/NotoSansKr/NotoSansKR-Thin.otf') format('otf');
     }
     @font-face {
          font-family: "Noto Sans KR";
          font-style: normal;
          font-weight: 300;
          src: url('../content/font/NotoSansKr/NotoSansKR-Light.woff');
          src: url('../content/font/NotoSansKr/NotoSansKR-Light.woff2') format('woff2'),
               url('../content/font/NotoSansKr/NotoSansKR-Light.otf') format('otf');
     }
     @font-face {
          font-family: "Noto Sans KR";
          font-style: normal;
          font-weight: 400;
          src: url('../content/font/NotoSansKr/NotoSansKR-Regular.woff');
          src: url('../content/font/NotoSansKr/NotoSansKR-Regular.woff2') format('woff2'),
               url('../content/font/NotoSansKr/NotoSansKR-Regular.otf') format('otf');
     }
     @font-face {
          font-family: "Noto Sans KR";
          font-style: normal;
          font-weight: 500;
          src: url('../content/font/NotoSansKr/NotoSansKR-Medium.woff');
          src: url('../content/font/NotoSansKr/NotoSansKR-Medium.woff2') format('woff2'),
               url('../content/font/NotoSansKr/NotoSansKR-Medium.otf') format('otf');
     }
     @font-face {
          font-family: "Noto Sans KR";
          font-style: normal;
          font-weight: 700;
          src: url('../content/font/NotoSansKr/NotoSansKR-Bold.woff');
          src: url('../content/font/NotoSansKr/NotoSansKR-Bold.woff2') format('woff2'),
               url('../content/font/NotoSansKr/NotoSansKR-Bold.otf') format('otf');
     }
     @font-face {
          font-family: "Noto Sans KR";
          font-style: normal;
          font-weight: 900;
          src: url('../content/font/NotoSansKr/NotoSansKR-Black.woff');
          src: url('../content/font/NotoSansKr/NotoSansKR-Black.woff2') format('woff2'),
               url('../content/font/NotoSansKr/NotoSansKR-Black.otf') format('otf');
     } 
     @font-face {
          font-family: "Noto Sans KR";
          font-style: normal;
          font-weight: 100;
          src: url('../content/font/NotoSansKr/NotoSansKR-Thin.woff');
          src: url('../content/font/NotoSansKr/NotoSansKR-Thin.woff2') format('woff2'),
               url('../content/font/NotoSansKr/NotoSansKR-Thin.otf') format('otf');
     }
     @font-face {
          font-family: "Noto Sans KR";
          font-style: normal;
          font-weight: 300;
          src: url('../content/font/NotoSansKr/NotoSansKR-Light.woff');
          src: url('../content/font/NotoSansKr/NotoSansKR-Light.woff2') format('woff2'),
               url('../content/font/NotoSansKr/NotoSansKR-Light.otf') format('otf');
     }
     @font-face {
          font-family: "Noto Sans KR";
          font-style: normal;
          font-weight: 400;
          src: url('../content/font/NotoSansKr/NotoSansKR-Regular.woff');
          src: url('../content/font/NotoSansKr/NotoSansKR-Regular.woff2') format('woff2'),
               url('../content/font/NotoSansKr/NotoSansKR-Regular.otf') format('otf');
     }
     @font-face {
          font-family: "Noto Sans KR";
          font-style: normal;
          font-weight: 500;
          src: url('../content/font/NotoSansKr/NotoSansKR-Medium.woff');
          src: url('../content/font/NotoSansKr/NotoSansKR-Medium.woff2') format('woff2'),
               url('../content/font/NotoSansKr/NotoSansKR-Medium.otf') format('otf');
     }
     @font-face {
          font-family: "Noto Sans KR";
          font-style: normal;
          font-weight: 700;
          src: url('../content/font/NotoSansKr/NotoSansKR-Bold.woff');
          src: url('../content/font/NotoSansKr/NotoSansKR-Bold.woff2') format('woff2'),
               url('../content/font/NotoSansKr/NotoSansKR-Bold.otf') format('otf');
     }

     @font-face {
          font-family: "Noto Sans KR";
          font-style: normal;
          font-weight: 900;
          src: url('../content/font/NotoSansKr/NotoSansKR-Black.woff');
          src: url('../content/font/NotoSansKr/NotoSansKR-Black.woff2') format('woff2'),
               url('../content/font/NotoSansKr/NotoSansKR-Black.otf') format('otf');
     } 

     @font-face {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 100;
          src: url('../content/font/Roboto/Roboto-Thin.ttf');
     }
     
     @font-face {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 300;
          src: url('../content/font/Roboto/Roboto-Light.ttf');
     }
     
     @font-face {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          src: url('../content/font/Roboto/Roboto-regular.ttf');
     }
     
     @font-face {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          src: url('../content/font/Roboto/Roboto-medium.ttf');
     }
     
     @font-face {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 700;
          src: url('../content/font/Roboto/Roboto-bold.ttf');
     }
     
     @font-face {
          font-family: "Roboto";
          font-style: normal;
          src: url('../content/font/Roboto/Roboto-black.ttf');
     }
     
     @font-face {
          font-family: "Roboto";
          font-style: italic;
          font-weight: 100;
          src: url('../content/font/Roboto/Roboto-thinitalic.ttf');
     }
     
     @font-face {
          font-family: "Roboto";
          font-style: italic;
          font-weight: 300;
          src: url('../content/font/Roboto/Roboto-lightitalic.ttf');
     }
     
     @font-face {
          font-family: "Roboto";
          font-style: italic;
          font-weight: 500;
          src: url('../content/font/Roboto/Roboto-mediumitalic.ttf');
     }
     
     @font-face {
          font-family: "Roboto";
          font-style: italic;
          font-weight: 700;
          src: url('../content/font/Roboto/Roboto-bolditalic.ttf');
     }
     
     @font-face {
          font-family: "Roboto";
          font-style: italic;
          font-weight: 900;
          src: url('../content/font/Roboto/Roboto-blackitalic.ttf');
     }

     .noto, .noto *{
          font-family:"Noto Sans KR";
     }
     .roboto, .roboto *{
          font-family: "Roboto";
     }
