.wrapper {
    /* width: 100%; */
    /* max-width: 1200px; */
    min-height: 500px;
}
.inquery_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.notice_table td {
    text-align: left;
    padding: 13px 10px 15px 10px;
    border-bottom: 1px solid #ccc;
    width: 1200px;
    font-size: 0.8rem;;
}

.table_header>td {
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #F5F5F5;
    text-align: left;
    height: 20px;

}

.table_name>td {
    overflow: hidden;
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
.table_content > td {
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

p {
    font-size: 0.8rem;;
    /* text-align: center; */
}