.wrapper {
    /* width: 100%; */
    /* max-width: 1200px; */
    min-height: 500px;
    /* padding: 0;
    margin: 0 auto; */
}

.wrapper>h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 500;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th {
    border-bottom: 1px solid #ccc;
    background: #F5F5F5;
    color: #111111;
    text-align: left;
    vertical-align: top;
    font-size: 1rem;
    width: 200px;
    /* justify-content: center; */
}

table td {
    min-height: 32px;
    margin: 0;
    padding: 10px 10px 7px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
}

table th:nth-child(1) {
    border-top: 1px solid #ccc;
    padding-left: 20px;
    padding-top: 8px;
}

table th:nth-child(2) {
    height: 50px;
    padding-left: 20px;
    padding-top: 8px;
}

table th:nth-child(3) {
    padding-left: 20px;
}


table th:nth-of-type(4) {
    padding-left: 20px;
}

table th:nth-of-type(5) {
    height: 50px;
    padding-left: 8px;
}

table td:nth-of-type(1) {
    border-top: 1px solid #ccc;
}

table td>input {
    border-color: #ccc;
}

.form_element>p {
    font-size: 0.8rem;
}

.textarea {
    border-color: 1px solid #999;
}

.file-focus {
    outline: 1px dotted #d2310e;
}

.textfield{
    outline: none;
    resize: none;
    width: 100%;
    padding-left: 10px;
}

.btn_container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn_before {
    width: 140px;
    height: 50px;
    border: 1px solid #ccc;
    color: #111111;
    background: #fff;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.btn_before:hover {
    border: 1px solid #bbbbbb;
    color: #111111;
    font-weight: 700;
}

.btn_write {
    width: 140px;
    height: 50px;
    color: #fff;
    background-color: #06ADC3;
    border-style: none;
    font-size: 1rem;
    cursor: pointer;
}

.btn_write:hover {
    background: #005D75;
    border-style: none;
}

.itone:hover{
    font-weight: 500;
}

.ittwo{
    color: #fff;
}

@media (max-width: 800px) {
    table th, table td {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    table th, table td {
        font-size: 0.8rem;
    }

    .btn_container {
        flex-direction: column;
        gap: 8px;
    }

    .btn_before, .btn_write {
        width: 100%;
    }
}