/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */

/* input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 4px 0px 7px 0px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
} */

.completeContainer {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.completeTitle {
    text-align: center;
    font-size: 29px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 15px;
}

.completePwMsg {
    text-align: center;
    margin-bottom: 37px;
}

.mypageIcon {
    font-size: 113px; 
    position: relative; 
    margin: 23px 0px;
}

.loginBtnDiv {
    margin-top: 57px;
    text-align: center;
}

.loginBtn {
    background-color: #06adc3;
    color: white;
    width: 30%;
    height: 45px;
    font-size: 15px;
    border: none;
}

.loginBtn:hover {
    background-color: #005D75;
    cursor: pointer;
}

/* 800px 이하에서 반응형 설정 */
@media screen and (max-width: 800px) {
    .completeContainer {
      width: 100%;
      margin: auto;
      padding: 0px;
      margin-top: 20px;
    }
    .completTitle{
      font-size: 1.5rem;
    }
    .loginBtn{
      width: 98%;
    }
  
  }
  
  /* 480px 이하에서 반응형 설정 */
  @media screen and (max-width: 480px) {
    .completeContainer {
      width: 100%;
      padding: 0px;
      margin-top: 20px;
      /* font-size: 0.8rem; */
    }
    .completeTitle{
      font-size: 1.5rem;
    }
  
    .link-button{
      font-size: 0.7rem;
      padding: 3px;
    }
    .loginBtn{
      width: 98%;
    }
  }