/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}*/

/* input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 4px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
} */

.container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.title {
    text-align: center;
    font-size: 29px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 15px;
}

.find_msg_div {
    text-align: center;
    margin-bottom: 70px;
}

#mypage_i {
    font-size: 113px; 
    position: relative; 
    margin: 23px 0px;
}

.find_msg_div strong {
    font-weight: bold;
}


.pw_login_div {
    margin-top: 20px;
    padding-top: 14px;
    border-top: 1px solid #111111;
    text-align: center;
}

.pw_login_div button:hover {
    font-weight: 500;
}

#find_pw_btn {
    float: left;
    width: 49%;
    height: 45px;
    border: 1px solid #cccccc;
    background-color: white;
    cursor: pointer;
}

#login_btn {
    float: right;
    width: 49%;
    height: 45px;
    border: none;
    color: white;
    background-color: #111111;
    cursor: pointer;
}
/* 800px 이하에서 반응형 설정 */
@media screen and (max-width: 800px) {
    .container {
      width: 100%;
      margin: auto;
      padding: 0px;
    }
    .title{
      font-size: 1.5rem;
    }
  
  }
  
  /* 480px 이하에서 반응형 설정 */
  @media screen and (max-width: 480px) {
    .container {
      width: 100%;
      padding: 0px;
      /* font-size: 0.8rem; */
    }
    .title{
      font-size: 1.5rem;
    }
  
    .link-button{
      font-size: 0.7rem;
      padding: 3px;
    }
  }