section {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 600px;
    padding: 40px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    border: 1px solid #dddddd;
    width: 33%;
    text-align: center;
    background-color: #f7f7f7;
}

.tab.active {
    background-color: #005D75;
    color: #ffffff;
}

.status-icon {
    margin: 30px 0px;
    font-size: 50px;
}

.status-icon img {
    width: 50px;
    height: 50px;
}

p {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.sub-text {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons button {
    padding: 12px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.buttons .home {
    border:1px solid #cccccc;
    background-color: #ffffff;
}

.buttons .home:hover {
    border:1px solid #cccccc;
    background-color: #ffffff;
    font-weight: 500;
}

.buttons .login {
    background-color: #06adc3;
    color: #ffffff;
}

.buttons .login:hover {
    background-color: #005D75;
    color: #ffffff;
}