* {
    font-family: "Noto Sans KR", "Roboto";
}

.wrap {
    background-color: #fff;
}

.main-content {
    width: 100%;
}

.coupon-wrap {
    width: 100%;
}

.coupon-top-wrap {
    display: flex;
    margin: 20px 0 30px 0;
    border: 1px solid #ccc;
}

.coupon-top-info {
    width: 30%;
    padding: 70px 0;
    text-align: center;
    line-height: 24px;
}

.coupon-top-wrap .coupon-top-wallet {
    width: 70%;
}

.coupon .coupon-top-info .coupon-top-text {
    font-size: 0.8rem;
}

.coupon .coupon-top-info .coupon-top-grade {
    font-size: 0.8rem;
}

.coupon-top-wrap .coupon-top-wallet .coupon-top-wallet-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

/* 월렛 쿠폰, 마일리지, 예치금 */
.coupon-top-wallet .coupon-top-coupon,
.coupon-top-wallet .coupon-top-mileage,
.coupon-top-wallet .coupon-top-balance {
    text-align: center;
    width: 50%;
    margin: 20px 0;
}

.coupon-top-wallet .coupon-top-mileage {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.coupon-top-wallet .coupon-top-coupon .coupon-icon,
.coupon-top-wallet .coupon-top-mileage .coupon-icon,
.coupon-top-wallet .coupon-top-balance .coupon-icon {
    text-align: center;
    width: 68px;
    height: 68px;
}

.coupon-top-wallet .coupon-top-coupon .coupon-title,
.coupon-top-wallet .coupon-top-mileage .coupon-title,
.coupon-top-wallet .coupon-top-balance .coupon-title {
    display: block;
    padding: 15px 0;
    font-size: 1rem;
    font-weight: 600;
}

.coupon-top-wallet .coupon-top-coupon .coupon-count,
.coupon-top-wallet .coupon-top-mileage .coupon-count,
.coupon-top-wallet .coupon-top-balance .coupon-count {
    display: block;
}

.coupon-top-wallet .coupon-top-coupon .coupon-count a,
.coupon-top-wallet .coupon-top-mileage .coupon-count a,
.coupon-top-wallet .coupon-top-balance .coupon-count a {
    font-size: 1.2rem;
    font-weight: 600;
}

/* 검색 */
/* 주문목록 / 배송조회 */
.mypage-date-wrap {
    margin-bottom: 20px;
    position: relative;
}

.mypage-date-wrap .mypage-date-check {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
}

.mypage-date-wrap .mypage-date-check .mypage-date-search {
    width: 100%;
}

.mypage-date-wrap .mypage-date-check .mypage-date-search .coupon-date-search-btn {
    width: 100px;
    padding: 7px 0;
    display: block;
    background-color: #06ADC3;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}

.mypage-date-wrap .mypage-date-check .mypage-date-search .mypage-date-search-btn:hover {
    background-color: #005D75;
}

.mypage-date-wrap .mypage-date-check .mypage-date-search .mypage-date-search-btn::after {
    content: '\f002';
    font-family: FontAwesome;
    font-size: 1rem;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #fff;
    margin: 0 5px;
}

/* 검색 조회 */
.mypage-date-wrap .mypage-date-check .mypage-date-period .mypage-period-btn {
    display: block;
    width: 50px;
    font-size: 0.8rem;
    margin-right: 10px;
}

.mypage-date-wrap .mypage-date-check .mypage-date-box {
    margin: 0 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
    height: 30px;
}

.mypage-date-wrap .mypage-date-check .mypage-date-box #start-date,
.mypage-date-wrap .mypage-date-check .mypage-date-box #last-date {

    height: 30px;
}

/* 주문목록 / 배송조회 */
.mypage-date-wrap .mypage-date-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 7px 0;
}

.mypage-date-wrap .mypage-date-title .mypage-regist {
    display: block;
    width: 140px;
    height: 30px;
    font-size: 0.8rem;
    color: #fff;
    background-color: #F294B2;
    text-align: center;
    line-height: 30px;
}

.mypage-date-wrap .mypage-date-title .mypage-regist:hover {
    background-color: #8F364D;
}

.mypage-date-wrap .mypage-date-title h3 {
    font-size: 1rem;
    margin-right: 5px;
}

.mypage-date-wrap .mypage-date-check .mypage-date-search .mypage-date-search-btn {
    width: 100px;
    padding: 7px 0;
    display: block;
    background-color: #06ADC3;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}

.mypage-date-wrap .mypage-date-check .mypage-date-search .mypage-date-search-btn:hover {
    background-color: #005D75;
}

.mypage-date-wrap .mypage-date-check .mypage-date-search .mypage-date-search-btn::after {
    content: '\f002';
    font-family: FontAwesome;
    font-size: 1rem;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #fff;
    margin: 0 5px;
}

/* 검색 조회 */
.mypage-date-wrap .mypage-date-check .mypage-date-period {
    display: flex;
    align-items: center;
}

.mypage-date-wrap .mypage-date-check .mypage-date-period .on {
    background: #8F364D;
    color: #fff;
}

.mypage-date-wrap .mypage-date-check .mypage-date-period .mypage-period-btn {
    font-size: 0.8rem;
    margin-right: 10px;
}

.mypage-date-wrap .mypage-date-check .mypage-date-period button {
    width: 54px;
    height: 30px;
    margin: 0 0 0 -1px;
    background: #fff;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    cursor: pointer;
}

.mypage-date-wrap .mypage-date-check .mypage-date-box .mypage-first-date,
.mypage-date-wrap .mypage-date-check .mypage-date-box .mypage-last-date {
    width: 184px;
    height: 30px;
    border: 1px solid #ccc;
    padding: 0 0 0 10px;
    font-size: 0.8rem;
}


/* 주문목록 / 배송조회 */
.coupon-date-wrap {
    margin-bottom: 20px;
}

.coupon-date-wrap .coupon-date-check {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
}

.coupon-date-wrap .coupon-date-check .coupon-date-search .coupon-date-search-btn {
    width: 100px;
    padding: 7px 0;
    display: block;
    background-color: #06ADC3;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}

.coupon-date-wrap .coupon-date-check .coupon-date-search .coupon-date-search-btn:hover {
    background-color: #005D75;
}

.coupon-date-wrap .coupon-date-check .coupon-date-search .coupon-date-search-btn::after {
    content: '\f002';
    font-family: FontAwesome;
    font-size: 1rem;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #fff;
    margin: 0 5px;
}

/* 검색 조회 */
.coupon-date-wrap .coupon-date-check .coupon-date-period .coupon-period-btn {
    display: block;
    width: 50px;
    font-size: 0.8rem;
    margin-right: 10px;
}

.coupon-date-wrap .coupon-date-check .coupon-date-box {
    margin: 0 10px;
    display: flex;
    justify-content: space-evenly;
}

/* 주문목록 / 배송조회 */
.coupon-date-wrap .coupon-date-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 7px 0;
}

.coupon-date-wrap .coupon-date-title .coupon-regist {
    display: block;
    width: 140px;
    height: 30px;
    font-size: 0.8rem;
    color: #fff;
    background-color: #F294B2;
    text-align: center;
    line-height: 30px;
}

.coupon-date-wrap .coupon-date-title .coupon-regist:hover {
    background-color: #8F364D;
}

.coupon-date-wrap .coupon-date-title h3 {
    font-size: 1rem;
    margin-right: 5px;
}

.coupon-date-wrap .coupon-date-check .coupon-date-search .coupon-date-search-btn {
    width: 100px;
    padding: 7px 0;
    display: block;
    background-color: #06ADC3;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}

.coupon-date-wrap .coupon-date-check .coupon-date-search .coupon-date-search-btn:hover {
    background-color: #005D75;
}

.coupon-date-wrap .coupon-date-check .coupon-date-search .coupon-date-search-btn::after {
    content: '\f002';
    font-family: FontAwesome;
    font-size: 1rem;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #fff;
    margin: 0 5px;
}

/* 검색 조회 */
.coupon-date-wrap .coupon-date-check .coupon-date-period {
    display: flex;
    align-items: center;
}

.coupon-date-wrap .coupon-date-check .coupon-date-period .on {
    background: #8F364D;
    color: #fff;
}

.coupon-date-wrap .coupon-date-check .coupon-date-period .mypage-period-btn {
    font-size: 0.8rem;
    margin-right: 10px;
}

.coupon-date-wrap .coupon-date-check .coupon-date-period button {
    width: 54px;
    height: 30px;
    margin: 0 0 0 -1px;
    background: #fff;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    cursor: pointer;
}

.coupon-date-wrap .coupon-date-check .coupon-date-box .coupon-first-date,
.coupon-date-wrap .coupon-date-check .coupon-date-box .coupon-last-date {
    width: 100%;
    /* background: url(../../content/img/sample/icon_calendar.png) right center no-repeat; */
    height: 30px;
    border: 1px solid #ccc;
    padding: 0 0 0 10px;
    font-size: 0.8rem;
}

.coupon-select-wrap .coupon-tab {
    display: flex;
    align-items: flex-end;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.coupon-select-wrap .coupon-tab li {
    width: 200px;
}

.coupon-select-wrap .coupon-tab .on {
    font-weight: 400;
    color: #111;
    border: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ffffff;
    background-color: #fff;
    line-height: 20px;
    font-size: 1rem;
}

.coupon-select-wrap .coupon-tab li a {
    display: block;
    margin: 0 0 0 -1px;
    padding: 10px 20px 12px 20px;
    color: #aaaaaa;
    font-size: 1rem;
    border: 1px solid #f5f5f5;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #ffffff;
    text-align: center;
    letter-spacing: -0.5px;
}

.coupon-select-wrap .pick-list {
    font-size: 1rem;
    letter-spacing: -1px;
    padding: 25px 0 10px 0;
}

.coupon-select-wrap .pick-list strong {
    font-weight: 600;
}

.coupon-select-wrap .pick-list span {
    font-size: 0.8rem;
}

/* 마일리지 */
.coupon-select-wrap .order-table {
    width: 100%;
    margin: 0 0 25px 0;
}

.coupon-select-wrap .order-table th {
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
}

.coupon-select-wrap .order-table td {
    text-align: center;
    font-size: 0.8rem;
    padding: 20px 0;
    vertical-align: middle;
}

.coupon-select-wrap .order-table .order-info {
    border-bottom: 1px solid #ccc;
}

.coupon-select-wrap .order-table .table-header, .coupon-select-wrap .order-table .mileage-header {
    font-size: 0.8rem;
    font-weight: 600;
}

.coupon-select-wrap .order-table .order-info .order-details ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.coupon-select-wrap .order-table .order-info .order-details ul li {
    padding: 3px 0;
    font-size: 0.8rem;
}

.coupon-select-wrap .order-table .order-info .order-details ul li img {
    width: 90px;
    height: 42px;
}

.coupon-select-wrap .order-table .order-info .order-details .order-date {
    color: #ccc;
}

.coupon-select-wrap .order-table .order-info .order-details .order-code {
    font-size: 1rem;
    font-weight: 600;
    color: #005D75;
    text-decoration: underline;
}

.coupon-select-wrap .order-table .order-info .order-details .order-cancel {
    color: #111;
    font-size: 0.8rem;
    padding: 5px;
}

.coupon-select-wrap .order-table .order-info .order-title {
    padding: 0 5px;
    font-size: 0.8rem;
}

.coupon-select-wrap .order-table .order-info .order-price strong {
    font-weight: 600;
    letter-spacing: -0.5px;
}

.coupon-select-wrap .order-table .order-info .order-review .order-review-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.coupon-select-wrap .order-table .order-info .order-review .order-review-button span {
    font-size: 0.8rem;
}

.coupon-select-wrap .order-table .order-info .order-review b {
    width: 88px;
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 5px 0;
    padding: 5px;
}

/* 예치금 */
.deposit-select-wrap .order-table {
    width: 100%;
    margin: 0 0 25px 0;
}

.deposit-select-wrap .order-table th {
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
}

.deposit-select-wrap .order-table td {
    text-align: center;
    font-size: 0.8rem;
    padding: 20px 0;
    vertical-align: middle;
}

.deposit-select-wrap .pick-list {
    font-size: 1rem;
    letter-spacing: -1px;
    padding: 25px 0 10px 0;
}
.deposit-select-wrap .pick-list strong {
    font-weight: 600;
}

.deposit-select-wrap .pick-list span {
    font-size: 0.8rem;
}

.deposit-select-wrap .order-table .deposit-order-info {
    border-bottom: 1px solid #ccc;
}

.deposit-select-wrap .order-table .table-header, .coupon-select-wrap .order-table .mileage-header {
    font-size: 0.8rem;
    font-weight: 600;
}

.deposit-select-wrap .order-table .deposit-order-info .order-details ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.deposit-select-wrap .order-table .deposit-order-info .order-details ul li {
    padding: 3px 0;
    font-size: 0.8rem;
}

.deposit-select-wrap .order-table .deposit-order-info .order-details ul li img {
    width: 90px;
    height: 42px;
}

.deposit-select-wrap .order-table .deposit-order-info .order-details .order-date {
    color: #ccc;
}

.deposit-select-wrap .order-table .deposit-order-info .order-details .order-code {
    font-size: 1rem;
    font-weight: 600;
    color: #005D75;
    text-decoration: underline;
}

.deposit-select-wrap .order-table .deposit-order-info .order-details .order-cancel {
    color: #111;
    font-size: 0.8rem;
    padding: 5px;
}

.deposit-select-wrap .order-table .deposit-order-info .order-title {
    padding: 0 5px;
    font-size: 0.8rem;
}

.deposit-select-wrap .order-table .deposit-order-info .order-price strong {
    font-weight: 600;
    letter-spacing: -0.5px;
}

.deposit-select-wrap .order-table .deposit-order-info .order-review .order-review-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.deposit-select-wrap .order-table .deposit-order-info .order-review .order-review-button span {
    font-size: 0.8rem;
}

.deposit-select-wrap .order-table .deposit-order-info .order-review b {
    width: 88px;
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 5px 0;
    padding: 5px;
}

.deposit-select-wrap .order-table .table-header, .deposit-select-wrap .order-table .deposit-header {
    font-size: 0.8rem;
    font-weight: 600;
}


@media screen and (max-width:1200px) {
    .coupon-date-wrap .coupon-date-check .coupon-date-period button {
        display: none;
    }

    /* 예치금 유형 */
    .deposit-select-wrap .order-table colgroup col:nth-child(2) {
        display: none;
    }

    .deposit-select-wrap .order-table .deposit-header .deposit-title {
        display: none;
    }

    .deposit-select-wrap .order-table .deposit-order-info td:nth-child(2) {
        display: none;
    }

    .deposit-select-wrap .order-table colgroup col:nth-child(5) {
        display: none;
    }


    .deposit-select-wrap .order-table colgroup col:nth-child(3) {
        width: 20%;
    }

    .deposit-select-wrap .order-table colgroup col:nth-child(4) {
        width: 25%;
    }

    .deposit-select-wrap .order-table .deposit-header .deposit-check {
        display: none;
    }

    .deposit-select-wrap .order-table .deposit-order-info td:nth-child(5) {
        display: none;
    }

    /* 마일리지 */
    .coupon-select-wrap .order-table colgroup col:nth-child(2) {
        display: none;
    }

    .coupon-select-wrap .order-table .mileage-header .header-title {
        display: none;
    }

    .coupon-select-wrap .order-table .order-info td:nth-child(2) {
        display: none;
    }

    .coupon-select-wrap .order-table colgroup col:nth-child(5) {
        display: none;
    }

    .coupon-select-wrap .order-table .mileage-header .header-check {
        display: none;
    }

    .coupon-select-wrap .order-table .order-info td:nth-child(5) {
        display: none;
    }

    .mypage-date-wrap .mypage-date-check .mypage-date-period button {
        display: none;
    }

}

@media screen and (max-width:800px) {
    .coupon-top-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .coupon-top-info {
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .coupon-top-wrap .coupon-top-wallet {
        width: 100%;
    }

    .coupon-date-wrap .coupon-date-check {
        flex-direction: column;   
    }

    .coupon-date-wrap .coupon-date-check .coupon-date-search {
        width: 100%;
    }

    .coupon-date-wrap .coupon-date-check .coupon-date-period {
        display: none;
        /* flex-wrap: wrap; */
    }

    .coupon-date-wrap .coupon-date-check .coupon-date-box {
        width: 100%;
    }

    .coupon-date-wrap .coupon-date-check .coupon-date-search {
        width: 100%;
    }

    .coupon-date-wrap .coupon-date-check .coupon-date-search .coupon-date-search-btn {
        width: 100%;
        margin-top: 10px;
    }

    .coupon-select-wrap .order-table .table-header,
    .coupon-select-wrap .order-table .mileage-header {
        line-height: 150%;
    }

    /* 마일리지 */
    .coupon-select-wrap .order-table colgroup col:nth-child(1) {
        display: none;
    }

    .coupon-select-wrap .order-table .mileage-header .header-date {
        display: none;
    }

    .coupon-select-wrap .order-table .order-info td:nth-child(1) {
        display: none;
    }

    .coupon-select-wrap .order-table colgroup col:nth-child(3) {
        width: 15%;
    }

    .coupon-select-wrap .order-table colgroup col:nth-child(4) {
        width: 25%;
    }

    .coupon-select-wrap .order-table colgroup col:nth-child(6) {
        width: 25%;
    }

    .mypage-date-wrap .mypage-date-check {
        flex-direction: column;
    }

    .mypage-date-wrap .mypage-date-check .mypage-date-period .mypage-period-btn {
        display: none;
    }

    .mypage-date-wrap .mypage-date-check .mypage-date-search .mypage-date-search-btn {
        margin-top: 10px;
        width: 100%;
    }

    .mypage-date-wrap .mypage-date-check .mypage-date-box .mypage-first-date,
    .mypage-date-wrap .mypage-date-check .mypage-date-box .mypage-last-date {
        width: 100%;
        position: relative;
    }

    .mypage-date-wrap .mypage-date-check .mypage-date-box input {
        width: 100%;
    }

    .mypage-date-wrap .mypage-date-check .mypage-date-box {
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .coupon-date-wrap .coupon-date-check .coupon-date-box {
        width: 100%;
    }

    .coupon-date-wrap .coupon-date-check .coupon-date-search {
        width: 100%;
        margin: 10px 0;
    }

    /* 마일리지 */
    .coupon-select-wrap .order-table colgroup col:nth-child(3) {
        display: none;
    }

    .coupon-select-wrap .order-table .mileage-header .header-money {
        display: none;
    }

    .coupon-select-wrap .order-table .order-info td:nth-child(3) {
        display: none;
    }
}