.option_table {
  width: 100%; /* 테이블이 컨테이너 너비를 채우도록 */
  border: 1px solid #ccc;
  overflow-y: auto; /* 수직 스크롤 활성화 */
  max-height: 400px; /* 최대 높이 제한 */
  border-collapse: collapse; /* 테이블 경계선 정리 */
}

.pagination {
  margin-top: 10px;
}

.selected_row {
  background-color: #f0f0f0; /* 선택된 행에 배경색 적용 */
}

.table_buttons {
  display: flex;
  justify-content: flex-end; /* 우측 정렬 */
  gap: 5px; /* 버튼 사이 간격 */
  margin-bottom: 10px; /* 버튼과 테이블 사이의 간격 */
}

.table_buttons button {
  padding: 2px 5px;
  background-color: #007bff; /* 기본 버튼 색상 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.table_buttons button:hover {
  background-color: #0056b3; /* 버튼 hover 효과 */
}
