/* .content_wrapper {
    width: 1100px;
    margin: 0px 0px 0px 110px;
} */

.title_1 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.title_2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.title_1>a {
    font-weight: 600;
    font-size: 1.3rem;
    color: #005D75;
}

.title_2>a {
    font-weight: 600;
    font-size: 1.3rem;
    color: #005D75;
}

.span_date {
    margin-top: 10px;
    color: #111111;
    font-size: 1rem;
}

.carousel {
    /* max-width: 1200px; */
    margin: 0 auto;
    text-align: center;
    /* background-color: #f7f7f7; */
    margin-bottom: 60px;
}

.carousel h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 300px;
    flex-shrink: 0;
    margin-right: 20px;
    /* background-color: #f7f7f7; */
    /* border-radius: 10px; */
    overflow: hidden;
    text-align: left;
}

.carousel-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.promo-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: #005D75;
}

.promo-desc {
    color: #111111;
    font-size: 0.8rem;
    padding-left: 10px;
    margin-bottom: 10px;
}

/* 버튼 */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

button:focus {
    outline: none;
}

.carousel-dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #717171;
}

/* Add transitions for sliding effect */
.carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
}


/**/

.event_container {
    /* width: 1100px; */
    height: 425px;
    display: flex;
    /* padding-inline: 20px; */
}

.top_first_box {
    width: 732px;
    height: 425px;
    /* margin-left: 40px; */
}

.top_inner_box {
    width: 50px;
    height: 425px;
}

.top_second_box {
    width: 565px;
    height: 425px;
}

.top_first_box>a>img {
    width: 100%;
    height: 350px;
}

.top_second_box>a>img {
    width: 100%;
    height: 350px;
}


.exhibit_wrapper {
    background-color: #F8F8F8;
    width: 1100px;
}

.swiper_wrapper {
    background-color: #F8F8F8;
    width: 1100px;
    height: 500px;


}

.exhibit_top_title>h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 20px;
}

.exhibit_top_title {
    border-bottom: 1px solid #000;
}

/**/
.event_top_container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* h2와 ul 사이 간격을 자동으로 조정 */
    /* font-size: 24px; */
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #000;
}

.event_top_container > h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.event_now {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.event_now li {
    margin-left: 12px; /* 항목 간의 간격 추가 */
}

.event_now>li:first-child>span>a {
    border-right: 1px solid #bbb;
    padding-right: 10px;
    color: #A8A8A8;
    font-size: 1rem;
}

.event_now>li:nth-child(2)>span>a {
    color: #000000;
    font-size: 1rem;
}

.event_now>li:nth-child(2)>span>a:hover {
    color: #000000;
}

.event_list {
    margin-top: 20px;
}

.event_list ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0;
}

.event_list ul li {
    /* border: 1px solid #ddd; */
    /* border-radius: 10px; */
    overflow: hidden;
    transition: transform 0.3s ease;
}

/* .event_list ul li:hover {
    transform: scale(1.05);
} */

.event_list ul li img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.event_name {
    margin-top: 5px;
    text-align: left;
    color: #111111;
    font-size: 1rem;
    display: block;
    letter-spacing: -1px;
}

.event_name>strong {
    color: #8F364D;
    margin-right: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.event_list>ul>li>a>img {
    filter: grayscale(100%);
}

/* 반응형 레이아웃 */
/* 800px 이하일 때 */
@media screen and (max-width: 800px) {

    .content_wrapper {
        /* width: 1100px; */
        /* margin: 0px 0px 0px 110px; */
        display: block;
    }
    .event_container {
        display: block;
        /* 세로로 배치 */
        text-align: center;
        /* 가운데 정렬 */
        height: 100%;
    }

    .top_first_box {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        /* 박스 사이 간격 추가 */
    }

    .top_second_box {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        /* 박스 사이 간격 추가 */
    }
    .top_inner_box{
        display: none;
    }

    .top_first_box>a>img {
        width: 100%;
        height: 100%;
    }

    .top_second_box>a>img {
        width: 100%;
        height: 100%;
    }


    .carousel {
        clear: both; /* 플로팅 요소가 있을 경우 이를 정리하여 겹치는 현상을 방지 */
    }

    .events {
        margin-top: 60px;
    }
    

    .event_list ul {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        /* 아이템을 가운데 정렬 */
    }

    .event_name {
        display: inline-block;
        /* 이벤트 글자 가로로 배치 */
    }
}

/* 480px 이하일 때 */
@media screen and (max-width: 480px) {
    .event_container {
        display: block;
        /* 세로로 배치 */
        text-align: center;
        /* 가운데 정렬 */
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .top_first_box {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        /* 박스 사이 간격 추가 */
    }

    .top_inner_box {
        display: none;
    }

    .top_second_box {
        width: 100%;
        height: auto;
    }

    .top_first_box>a>img {
        width: 100%;
        height: 100%;
    }

    .top_second_box>a>img {
        width: 100%;
        height: 100%;
    }


    .carousel {
        /* margin-top: 10px; */
        clear: both;
        /* carousel과의 간격 조정 */
    }

    .event_list ul {
        grid-template-columns: 1fr;
        /* 하나씩 아래로 배치 */
        justify-items: center;
        /* 아이템을 가운데 정렬 */
    }

    .event_name {
        display: inline-block;
        /* 이벤트 글자 가로로 배치 */
    }

    .event_top_title>h2 {
        height: 5px;
        display: inline-block;
        margin-right: 1125px;
    }

    .event_top_title>ul {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
}