@charset "utf-8";
#intro h1{padding-bottom: 50px; font-size: 1.5rem; text-align: center; font-weight: 600;}
#intro li{display: flex;justify-content: center; align-items: stretch;}
#intro li > div{width: 50%; height: 800px;}
#intro li .img-box{background-color: #ccc; overflow: hidden;}
#intro li .img-box > img{width: 100%; height: 100%; object-fit: cover; object-position: center center;}
#intro li .img-box > video{width: 100%; height: 100%; object-fit: cover; object-position: center;}
#intro li .txt-box{display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-end;padding: 3vw;}
#intro b{font-weight: 900; color: #8F364D;}
#intro strong{font-size: 3rem; color: #F294B2;display: block; font-weight: 900; padding-bottom: 30px;text-align: right; line-height: 1.3;}
#intro p{font-size: 1rem; text-align: right;line-height: 1.5;}
#intro p b{padding-right: 5px; display: inline-block;}
#intro p span{color: #8F364D; font-weight: 500;}

#intro li:first-child .txt-box{padding-top: 0;}

#intro li:nth-child(2n) .txt-box{align-items: flex-start;}
#intro li:nth-child(2n) strong{color: #06ADC3;text-align: left;}
#intro li:nth-child(2n) p{text-align: left;}
#intro li:nth-child(2n) b{color: #005D75;}
#intro li:nth-child(2n) p span{color: #005D75;}

@media screen and (max-width:1200px){
    #intro strong {font-size: 2.5rem; line-height: 1;}
    #intro li > .img-box {height: 600px; }
    #intro li > div {height: auto; }
}
@media screen and (max-width:800px){
    #intro li > .img-box { height: 350px;}
    #intro li .txt-box{padding: 0; padding-right: 3vw;}
    #intro li:nth-child(2n) .txt-box{padding-right: 0; padding-left: 3vw;}
    #intro li > div {width: 100%;}
    #intro li {padding-bottom: 80px;}
    #intro p {font-size: 0.8rem; letter-spacing: -0.3px;}
    #intro strong {font-size: 2rem;}

}

@media screen and (max-width:480px){
    #intro li {flex-direction: column;}
    #intro li:nth-child(2n - 1){flex-direction: column-reverse;}
    #intro li strong {padding-top: 25px;}
    #intro li strong br{display: none;}

}