.inquiry_section {
    /* width: 100%; */
    /* max-width: 1200px; */
    min-height: 500px;
    padding: 0;
    margin: 0 auto;
}

.inquiry_section > h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 주문목록 / 배송조회 */
.mypage_date_check {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.mypage_date_check .mypage_date_search .mypage_date_search_btn {
    width: 100px;
    padding: 7px 0;
    display: block;
    background-color: #06ADC3;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}

.mypage_date_check .mypage_date_search .mypage_date_search_btn:hover {
    background-color: #005D75;
}

.mypage_date_check .mypage_date_search .mypage_date_search_btn::after {
    content: '\f002';
    font-family: FontAwesome;
    font-size: 1rem;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #fff;
    margin: 0 5px;
}

/* 검색 조회 */
.mypage_date_check .mypage_date_period {
    display: flex;
    align-items: center;
}

.mypage_date_check .mypage_date_period .on {
    background: #8F364D;
    color: #111111;
}

.mypage_date_check .mypage_date_period .mypage_period_text {
    font-size: 0.8rem;
    margin-right: 10px;
}

button{
    padding: 0px;
}

.pagination-link > button{
    width: 20px;
    height: 30px;
}

.mypage_date_check .mypage_date_period button {
    width: 54px;
    height: 30px;
    margin: 0 0 0 -1px;
    background: #fff;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    cursor: pointer;
}

.mypage_date_check .mypage_date_box {
    margin: 0 10px;
}

.mypage_date_check .mypage_date_box .mypage_first_date,
.mypage_date_check .mypage_date_box .mypage_last_date {
    width: 150px;
    /* background: url(../../content/img/sample/icon_calendar.png) right center no-repeat; */
    height: 30px;
    border: 1px solid #ccc;
    padding: 0 0 0 10px;
    font-size: 0.8rem;
}

.inquiry_section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.inquiry_section th {
    text-align: center;
    padding: 13px 10px 15px 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fbfbfb;
    width: 1200px;
    font-size: 1rem;
}

.inquiry_section th:nth-child(1) {
    width: 200px;
}

.inquiry_section th:nth-child(2) {
    width: 200px;
}

.inquiry_section th:nth-child(3) {
    width: 400px;
}

.inquiry_section th:nth-child(4) {
    width: 200px;
}

.inquiry_section th:nth-child(5) {
    width: 200px;
}

.inquiry_section td {
    text-align: center;
    padding: 13px 10px 15px 10px;
    border-bottom: 1px solid #dbdbdb;
    width: 1200px;
    font-size: 0.8rem;
    height: 20px;
}

.inquiry_section td:nth-child(1) {
    width: 200px;
}

.inquiry_section td:nth-child(2) {
    width: 200px;
}

.inquiry_section td:nth-child(3) {
    width: 400px;
    text-align: left;
}

.inquiry_section td:nth-child(4) {
    width: 200px;
}

.inquiry_section td:nth-child(5) {
    width: 200px;
}

.inquiry_section a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.inquiry_section a:hover {
    text-decoration: underline;
}

.pagination_container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 30px 0;
}

.pagination_container .pagination_controls ul {
    display: flex;
}

.pagination_container .pagination_controls ul li {
    display: flex;
    align-items: center;
    line-height: 25px;
}

.pagination_container .pagination_controls ul li a {
    padding: 0 6px;
    margin: 0 3px;
    font-size: 0.8rem;
}

.pagination_container .pagination_controls ul li .current {
    background-color: #005D75;
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    line-height: 25px;
}

.pagination_container .pagination_controls ul .pagination_next a,
.pagination_container .pagination_controls ul .pagination_last a {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.write_btn {
    width: 140px;
    height: 50px;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #06ADC3;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.write_btn:hover {
    background-color: #005D75;
}

.write_btn > a {
    color: #fff;
}

.mypage_date_period button.active {
    background-color: #8f364d; /* Blue color */
    color: #fff; /* White text */
}

.mypage_date_period button {
    background-color: #fff;
    color: #767676;
}

@media screen and (max-width: 1200px) {
    .mypage_date_check {
        flex-wrap: wrap;
        width: 100%;
    }
    .mypage_date_check .mypage_date_period button {
        display: none;
    }
}

/* 800px 이하일 때 */
@media screen and (max-width: 800px) {
    .filter_header {
        padding-bottom: 30px;
    }
    .mypage_date_check .mypage_date_box {
        margin: 0;
        display: flex;
        width: 100%;
        align-items: baseline;
    }
    .mypage_date_check .mypage_date_period {
        display: none;
    }

    .mypage_date_check {
        flex-direction: column;
    }
    .mypage_date_search {
        width: 100%;
    }

    .mypage_date_check .mypage_date_search .mypage_date_search_btn {
        margin-top: 10px;
        width: 100%;
    }

    .mypage_date_check .mypage_date_box .mypage_first_date,
    .mypage_date_check .mypage_date_box .mypage_last_date {
        width: 100%;
    }

    .mypage_date_check .mypage_date_box input {
        width: 100%;
    }

    mypage_date_check .mypage_date_box {
        width: 100%;
        margin-bottom: 20px;
    }

    table th:nth-child(1),
    table td:nth-child(1) {
        display: none;
    }

    table th:nth-child(4),
    table td:nth-child(4) {
        font-size: 0.8rem;
    }
}

/* 480px 이하일 때 날짜 카테고리도 숨김 */
@media (max-width: 480px) {
    table th:nth-child(1),
    table td:nth-child(1) {
        font-size: 0.8rem;
    }

    table th:nth-child(2),
    table td:nth-child(2) {
        display: none;
    }

    table th:nth-child(3),
    table td:nth-child(3) {
        font-size: 0.8rem;
    }
}
